/*--------------------------------------------------

new_memorial.css
Used when creating a new memorial

-------------------------------------------------- */



/* Container
-------------------------------------------------- */
.content-container {
    margin: 0 auto 10px;
    position: relative;
    width: 585px;
}



/* Canvas
-------------------------------------------------- */
.canvas {
    margin-top: 25px;
    width: 100%;
}
